{% extends "base.html"%}
{% block title %}Library Loan System - Dashboard{% endblock %}
{% block content %}
{% from "includes/formhelper.html" import render_field %}




<div class="container1">
    <h1><strong>Welcome, {{ member.get_first_name() }} {{  member.get_last_name()}}!</strong></h1>
    <h2>This is the Nutrition Tracker. Input a food to learn more about its nutrition contents.</h2>
    <form method="POST">
    {{ form.food_name }}
</form>

<h1>Nutritional Information for Cheese</h1>
<pre id="spoonacular-ingredients" style="display:none">cheese</pre>
<div id="spoonacular-nutrition-visualizer"></div>

<script type="text/javascript">
    var spoonacularServings = 1;
    // Initialize the Spoonacular widget
    $(document).ready(function () {
        spoonacularWidget();
    });
</script>

{% if food_details %}
<ul>
    <li>Calories: {{ food_details.calories }}</li>
    <li>Protein: {{ food_details.protein }}</li>
    <li>Carbohydrates: {{ food_details.carbohydrates }}</li>
    <li>Fats: {{ food_details.fats }}</li>
</ul>

{% endif %}


</div>

{% endblock %}