{% extends "base.html" %}
{% block title %}Library Loan System - Forgot password{% endblock %}
{% block content %}
{% from "includes/formhelper.html" import render_field %}

<style>
.hidden {
  display: none;
}
</style>

    <div class="container1">
<div class="container text-center" xmlns="http://www.w3.org/1999/html">

<h1>Email</h1>
<div id="email" >
  <form method="POST" action="">
    <h1>Forgot Password</h1>
    <div class="form-group">
        {{ render_field(email.email, class="form-control") }}
    </div>
    <button type="submit" >Submit</button>
</form>
</div>

</div>
    </div>

{% endblock %}
