{% extends "base.html" %}
{% block title %}Library Loan System - Update Payment Profile{% endblock %}
{% block content %}
{% from "includes/formHelper.html" import render_field %}
<div class="container1">
<div class="container text-center" xmlns="http://www.w3.org/1999/html">

<h1 class="display-4">Update Member Payment</h1>

<form method="POST" action="">


    <div class="form-group">
         {{ render_field(forms.card_number, class="form-control") }}
    </div>
    <div class="form-group">
         {{ render_field(forms.card_name, class="form-control") }}
    </div>
    <div class="form-group">
         {{ render_field(forms.expiry_date, class="form-control") }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary bg-success">
</form>
</div></div>
{% endblock %}